[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
f5-sdk = "*"
ncclient = "*"
clg = "*"
pyyaml = "*"
yamlordereddictloader = "*"
fortiosapi = "*"
pyFortiManagerAPI = '*'
ipaddress = "*"
openpyxl = "*"
netaddr = "*"
infoblox-client = "*"
xlwings =  "*"
pandas = "*"
ansible = "==2.10.7"
iperf3 = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"
