# Source this file to set mandatory parameters as environment variables
# example: source ./example.env
export SECTIGO_CM_USER=myuser
export SECTIGO_CM_PASSWORD=mypassword
export SECTIGO_CM_URI=myuri
export SECTIGO_CM_ORG_ID=123
